#!/usr/bin/make -f
# -*- makefile -*-

QUILT_PATCH_DIR ?= debian/patches

TG_BRANCHES := t/feature/yxa_yaws,t/feature/yxa_yaws_makefile,t/fix/net_util

# Ensure aclocal.m4 exists before requesting cdbs to update it.
common-configure-arch common-configure-indep:: aclocal.m4

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/topgit/tg2quilt.mk

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

#
# Upstream versions can be formatted in different ways.
#
# 1. Release:               1.0~rc1
# 2. Snapshot:              0.91+20061205
# 3. Subversion trunk date: 0.91+20070220svn-1
# 4. Git revision:          1.0+git5aeee79
#

DEBVERSION:=$(shell head -n 1 debian/changelog \
                    | sed -e 's/^[^(]*(\([^)]*\)).*/\1/')
UPVERSION:=$(shell echo $(DEBVERSION) | sed -e 's/^.*://' -e 's/-[0-9.~]*$$//' -e 's/.dfsg$$//')

ifeq (git,$(findstring git,$(UPVERSION)))
VCSREV := $(shell echo $(DEBVERSION) | sed -e 's/^.*+//' | sed -e 's/-.*//' | sed -e 's/^git//')
URL := http://github.com/fredrikt/yxa/tarball/$(VCSREV)
else
ifeq (+20,$(findstring +20,$(UPVERSION)))
URL := svn://anonsvn.it.su.se/yxa/trunk
VCSREV := {$(shell echo $(DEBVERSION) | sed -e 's/^.*+//' | sed -e 's/-.*//')}
else
ifeq (,$(findstring +2,$(UPVERSION)))
TARVERSION:=$(shell echo $(UPVERSION) | sed -e 's/~//')
URL := http://www.stacken.kth.se/project/yxa/download/yxa-$(TARVERSION).tar.gz
else
TARVERSION:=$(shell echo $(UPVERSION) | sed -e 's/^.*\+\([0-9]\{4\}\)\([0-9]\{2\}\)\([0-9]\{2\}\)/\1-\2-\3/')
URL := http://www.stacken.kth.se/project/yxa/download/snapshots/yxa-$(TARVERSION).tar.gz
endif
endif
endif

FILENAME := yxa_$(UPVERSION).orig.tar.gz
SHA1SUM := 72c54db19a02e8b888fe991139746bd55da176c4

DEB_CONFIGURE_EXTRA_FLAGS := \
		--host=$(DEB_HOST_GNU_TYPE) \
		--sysconfdir=/etc/yxa \
		--with-mnesiadir=/var/lib/yxa/db \
		--disable-erlang-version-check \
		LDFLAGS="-Wl,-z,defs"

DEB_AUTO_UPDATE_ACLOCAL := 1.11
DEB_AUTO_UPDATE_AUTOCONF := ' '

DEB_DESTDIR = $(CURDIR)/debian/tmp/

aclocal.m4:
	touch aclocal.m4

print-version:
	@@echo "Debian version:          $(DEBVERSION)"
	@@echo "Upstream version:        $(UPVERSION)"
	@@echo "URL:                     $(URL)"
	@@echo "VCS revision:            $(VCSREV)"

get-orig-source:
	@@dh_testdir
	@@[ -d ../tarballs/. ]||mkdir -p ../tarballs
	@@chmod +x debian/get-orig-source.sh
	debian/get-orig-source.sh $(UPVERSION) $(URL) $(VCSREV)
